#unused database
/question_app_db.db

# pycache
__pycache__/
*.pyc

# outputs
/output/Answer_Sheet.pdf
/output/Answer_Sheet.tex
/output/Problem_Sheet.pdf
/output/Problem_Sheet.tex

# local script
/mess_about_script.py