#unused database
/question_app_db.db

# pycache
/__pycache__
core/__pycache__
core/mathematics/__pycache__
core/question/__pycache__
/utilities/__pycache__
/app/__pycache__
/app/ui/__pycache__

# outputs
/output/Answer_Sheet.pdf
/output/Answer_Sheet.tex
/output/Problem_Sheet.pdf
/output/Problem_Sheet.tex

# local script
/mess_about_script.py